<section>
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="registrarUsuario(f)">

    <mat-form-field>
      <mat-label>Ingrese E-Mail</mat-label>
      <input type="email" matInput placeholder="rp_9966@hotmail.com" ngModel name="email" email required #emailInput="ngModel"/>
      <mat-error *ngIf="emailInput.hasError('required')">El e-mail no puede estar en blanco</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">El e-mail es inválido</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="El password debe tener 7 caracteres">
      <mat-label>Ingrese Password</mat-label>
      <input type="password" matInput placeholder="Ingresa Password" ngModel name="password" required minlength="7"/>
      <mat-error>El password debe tener más de 7 caracteres</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Guardar</button>

  </form>
</section>
